.information-background{
    background-color:#fceae8 ;
}

.categories img{
    width: 100px;
}

.button-color{
    color: white;
    background-color: violet;
    padding: 9px 25px;
    border: none;
    border-radius: 8px;
}
